body{
    background-color: whitesmoke;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
h1{
    text-align: center; font-size: xxx-large; text-decoration: tomato;
}
h2{
     font-size: xx-large; color: crimson;
}
p{
    font-size: x-large; font-family: cursive; font-style: oblique; font-weight: 900;
}
.s{
    font-size: xx-large;
}
.spec2{
    font-size: x-large; font-family: cursive; font-style: oblique; font-weight: 900;
}
.spec3{
    text-align: center; color: crimson; font-size: xx-large;
border-radius: 40px;}
title{
    color: crimson; font-family: cursive;
}
